rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Każdy użytkownik ma dostęp tylko do swojego dokumentu i subkolekcji.
    match /users/{uid}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }

    // Domyślnie blokuj resztę.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
